.App {
  text-align: center;
  color: rgb(216, 44, 44);
  text-decoration: underline;
  margin-top: 20px;
}

.user-gallery{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap:30px;
}
.pic{
  position: relative;
  height: 370px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 3px lightgrey;
  cursor: pointer;

}
.pic img{
  width: 80%;
  height: 100%;
  border-radius: 10px;
  transition: 0.5s;
}

.id{
  margin-top: 40px;
  margin-bottom: 10px;
} 
.icon {
  color: blue;
}

.icon:hover {
  color: red;
}

.card-header{

  padding-left: 15px;
  padding-right: 15px;
  text-transform: capitalize;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 20px;
} 
.name{
  color:rgb(217, 41, 41);
}
.last{
  margin-right: 130px;
}
.card-head2{
  background-color: rgb(207, 242, 242);
  padding-left: 15px;
  padding-right: 15px;
  color:blueviolet;
  text-transform: capitalize;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 20px;
} 
